* {
    box-sizing: border-box !important;
    margin: 0 auto !important;    
}

body {
    background-color: rgb(155, 171, 217) !important;
    font-family:'Courier New', Courier, monospace !important;
    min-height: 120vh !important;
    width: 80%;
    color: rgb(38, 36, 36);
}

h1, h2, h3, h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1 {
    text-align: center;
}

#app {
    width:95%,
}

@media only screen and (min-width: 1024px) {
    #app {
        width: 60%;
    }
}

/* current-weather */

#icon {
    width: 10rem;
}

/* footer */
#footer {
    position: fixed;
    bottom: 0;
    left: 62vw;
    max-height: 25vh;
    padding-bottom: 1rem;
}

#footer svg {
    max-height: 25vh;
}
