* {
    box-sizing: border-box !important;
    margin: 0 auto !important;    
}

body {
    background-color: rgb(244, 216, 183) !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh !important;
    width: 80%;
}

h1, h2, h3, h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1 {
    text-align: center;
}


/* Location Component */

Form.Control {
    color:rgb(211, 113, 0) !important;
}