* {
    box-sizing: border-box !important;
    margin: 0 auto !important;    
}

body {
    background-color: rgb(155, 171, 217) !important;
    font-family:'Courier New', Courier, monospace !important;
    color: rgb(38, 36, 36);
}

h1, h2, h3, h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1 {
    text-align: center;
}

#main {
    width:95%;
    min-height: 80vh
}

@media only screen and (min-width: 1024px) {
    #app {
        width: 70%;
    }
}

/* current-weather */

#icon {
    width: 8rem;
}

/* footer */
#footer {
    position: relative;
    bottom: 0 !important;
    padding: 2rem 1rem;
    text-align: center;
}

#footer svg {
    max-height: 25vh;
    margin: 0 auto;
}
